<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changgeng.mapper.StartStopMapper">

    <select id="selectAllEvent" resultType="java.util.Map" parameterType="com.changgeng.model.StartStopQueryDTO">
        SELECT
        event_code,
        start_time,
        end_time,
        result_id,
        event_name,
        event_id,
        create_time
        FROM normal_event_result_report
        <where>
            <if test="param.eventIds != null and param.eventIds.size() > 0">
                event_id IN
                <foreach collection="param.eventIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="param.startTime != null and param.endTime != null and param.startTime != '' and param.endTime != ''">
                and start_time between #{param.startTime}::timestamp and #{param.endTime}::timestamp
            </if>
            and end_time is not null
        </where>
    </select>

    <select id="selectStartMode" resultType="java.lang.String">
        select event_name from basic_event_result_report where event_name in ('热态启动模式','冷态启动模式','温态启动模式') and all_event_code = #{param.event_code}  and occur_time BETWEEN
              #{param.start_time}::timestamp and #{param.end_time}::timestamp  limit 1
    </select>
    <select id="startStopDetails" resultType="java.util.Map">
        SELECT
            event_code,
            start_time,
            end_time,
            result_id,
            event_name,
            event_id,
            create_time from normal_event_result_report where result_pid = #{resultId}::uuid order by start_time
    </select>
    <select id="selectLastEvent" resultType="java.lang.String">
        WITH target AS (
        SELECT start_time, event_name
            FROM "public"."normal_event_result_report"
            WHERE result_id = #{resultId}::uuid
        )
        SELECT n1.result_id
        FROM "public"."normal_event_result_report" n1
        CROSS JOIN target
        WHERE n1.event_name = target.event_name
        AND n1.event_type = '1'
        AND target.start_time > n1.start_time
        ORDER BY n1.start_time DESC
        LIMIT 1
    </select>
    <select id="materialDetails" resultType="java.util.Map">
        select m.* , n.event_name from material_record m left join normal_event_result_report n on n.result_id = m.event_record_id where m.event_record_id = #{resultId}::uuid or
            m.event_pid = #{resultId}::uuid
    </select>
    <select id="startStopRecord" parameterType="com.changgeng.model.StartStopQueryDTO" resultType="map">
        select n1.result_id , n1.event_name from "public"."normal_event_result_report" n1
        where
        <if test="param.eventIds != null and param.eventIds.size() > 0">
            n1.event_id IN
            <foreach collection="param.eventIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>  order by n1.start_time desc limit 10
    </select>
    <select id="selectCurrentStartStop" resultType="java.util.Map">
        WITH RECURSIVE tree AS (
            SELECT *
            FROM normal_event_result
            WHERE result_id = (select n.result_id from normal_event_result n where n.event_id=#{eventId} and n.start_time is not null and n.end_time is null order by n.start_time desc limit 1)

        UNION ALL
        SELECT child.*
        FROM normal_event_result child
                 INNER JOIN tree parent ON child.result_pid = parent.result_id
            )
        SELECT
            tree.*,
            EXTRACT(EPOCH FROM ((COALESCE(end_time, start_time)) - (start_time))) / 60 AS minute,
            CASE
                WHEN end_time IS NULL THEN '进行中'
                ELSE '已完成'
                END AS "eventStatus"
        FROM tree
        ORDER BY start_time ;
    </select>
    <select id="getCurrentStartMode" resultType="java.util.Map">
        select * from basic_event_result b where b.all_event_code = #{eventCode} and b.occur_time >= #{startTime} ORDER BY b.occur_time limit 1
    </select>
</mapper>
